.app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.logo-area {
  background-color: darkblue;
}

.login-area {
  width: 30%;
  margin: 40px auto;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .login-area {
    width: 40%;
    margin: 40px auto;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .login-area {
    width: 50%;
    margin: 40px auto;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .login-area {
    width: 100%;
    margin: 40px auto;
  }
}

@media (max-width: 320px) {
  .login-area {
    width: 100%;
    margin: 40px auto;
  }
}
